
.chbtn{
background-color: green;
color: white;
}

.delbtn{
  background-color: tomato;
  color: white;
}


.App {
  text-align: center;
  background-color: white;
  border-radius: 25px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom:100px ;
  padding-bottom: 50px;
}
.title {
  font-size: 50px
}

.task {
  display:flix; 
  align-items: center;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  background-color:  #c2c2a3;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}


.task h5 {
  
  font-weight: bolder;
}

#done {
  text-decoration: line-through black;
}

input {
  width: 80vh;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 20px;
  background-color: transparent;
  color: gray;
}


input:hover {
  box-shadow: 2px 0px 0px 2px #3E5151;
}

button {
  height: 35px;
  width: 80px;
  
  border-radius: 10px;

  margin: 10px;
  color: #3E5151;
}
button:hover {
  background-color: white;
  color: black;
}






